<h1>
    PERSONATGES <small>One Piece</small></h1>

<div class="card-columns">


    <div class="card animated fadeIn fast" *ngFor="let personatge of personatges; let i = index ">
        <img src="{{personatge.img}}" class="card-img-top" [alt]="personatge.nombre">
        <div class="card-body">
            <h5 class="card-title">{{personatge.nombre}}</h5>
            <p class="card-text">{{personatge.bio}}</p>
            <p class="card-text"><small class="text-muted">{{personatge.aparicion}}</small></p>

            <button (click)="veurePersonatge(i)" type="button" class="btn btn-outline-primary btn-block">Veure'n més...</button>

            <!--<a [routerLink] ="['/personatge',i]"  class="btn btn-outline-primary">Veure'n més</a>
                -->
        </div>
    </div>
</div>